%h5.card-title 
  Squadra
  %p.card-text
    .row
      .col-12
        = form_tag "https://localhost:3000/users/#{@user.id}/teams/#{@team.id}", method: "put", remote: true, :class => "form-inline" do
          = text_field_tag "nome",nil, class: "form-control mb-2 mr-sm-2", placeholder: "#{@team.nome}", autofocus: true, :style => "width: 48%"
          = submit_tag "Salva", class: "btn btn-primary mb-2", :style => "margin-left: 3%" 
    -@team.membro.each do |m|
      .row
        .col-6
          .form-group
            %label{:for => "formGroupExampleInput"} 
            = m.ruolo
            %input#formGroupExampleInput.form-control{:placeholder => "#{m.user.nick}", :type => "text"}/
        .col-3
          - if (can? :remove, @team) && (m.user.id != @team.capitano.id)
            = link_to "Rimuovi utente", teams_remove_path(@user,@team,m.user), :remote => true, method: :put, :class => "btn btn-danger mb-2", :style => "margin-top: 15%;"
          - if m.user.id == @team.capitano.id
            Capitano
        .col-3
          - if (can? :captain, @team) && (m.user.id != @team.capitano.id)
            = link_to "Passa Capitano", teams_captain_path(@user,@team,m.user), :remote => true, method: :put, :class => "btn btn-primary mb-2", :style => "margin-top: 15%;"
    -if (can? :invite, @team)
      -@team.roles_left.each do |r|
        .row
          .col-6
            %label.sr-only{:for => "formGroupExampleInput", :class => ""} 
            = r
        .row
          .col-12
            = form_tag "https://localhost:3000/users/#{@user.id}/teams/#{@team.id}/invite", method: "put", remote: true, :class => "form-inline" do
              = text_field_tag "#{r}",nil, class: "form-control mb-2 mr-sm-2", placeholder: "Nome utente", autofocus: true, :style => "width: 48%"
              = submit_tag "Aggiungi", class: "btn btn-primary mb-2", :style => "margin-left: 3%"
    .row{:style => "margin-top: 4%;"}
      .col-6
        = link_to "Back", user_teams_path(@user), :class => "btn btn-primary mb-2"
      .col-3
        - if can? :destroy,@team
          = link_to "Elimina Squadra", user_team_path(@user,@team), method: :delete, :class => "btn btn-danger mb-2"
      .col-3
        = link_to "Abbandona squadra", teams_leave_path(@user,@team), method: :put, :class => "btn btn-primary mb-2"