!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
  %body
    .container
      = form_for(@user) do |f|
        .form-group.row
          = f.label(:nick,"Nickname", class: "col-sm-2 col-form-label")
          .col-sm-10
            = f.text_field(:nick, class:"form-control")
        .form-group.row
          .col-sm-2 Ruoli
          .col-sm-2
            .form-check-inline
              = f.check_box(:ruolo1, {multiple: true, class: "form-check-input"}, "P", nil) 
              = f.label(:p, "P", class: "form-check-label") 
          .col-sm-2
            .form-check-inline
              = f.check_box(:ruolo1, {multiple: true, class: "form-check-input"}, "D", nil) 
              = f.label(:d, "D",class: "form-check-label") 
          .col-sm-2
            .form-check-inline
              = f.check_box(:ruolo1, {multiple: true, class: "form-check-input"}, "C1", nil) 
              = f.label(:c1, "C1", class: "form-check-label") 
          .col-sm-2
            .form-check-inline
              = f.check_box(:ruolo1, {multiple: true, class: "form-check-input"}, "C2", nil) 
              = f.label(:c2, "C2", class: "form-check-label") 
          .col-sm-2
            .form-check-inline
              = f.check_box(:ruolo1, {multiple: true, class: "form-check-input"}, "A", nil) 
              = f.label(:a, "A", class: "form-check-label") 
        .form-group.row
          .col-sm-2
            = f.submit("Salva", class: "btn btn-primary")  