!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title profilo
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", :integrity => "sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", :rel => "stylesheet"}/
    = stylesheet_link_tag "index_team.css"
    = stylesheet_link_tag "play.css"
    = stylesheet_link_tag "mostraeventi.css"
    %link{:crossorigin => "anonymous", :href =>"https://use.fontawesome.com/releases/v5.0.13/css/all.css", :integrity =>"sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", :rel => "stylesheet"}/ 
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.13/css/all.css", :integrity => "sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather+Sans", :rel => "stylesheet"}/
  %body{:style => "font-family: 'Merriweather Sans', sans-serif; margin-left: 0.9%; margin-right: 0.9%;"}
    .row
      %nav.navbar.navbar-light.barra
        .col-3
          .container
            %form.form-inline
              %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :style => "width: 48%;", :type => "search"}/
              %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
        .col-3
          %a{:href => "#"}
            %b Profile
        .col-3
          %a{:href => "#"}
            %b Play
        .col-3
          %a{:href => "#"}
            %b Home
    .container
      .row
        .col
          %br/
          %br/
          %br/
          %br/
          = image_tag("#{@user.img}",height: '130', width: '130', align: "center", id: "image", class: "user_column_obj")
          %br/
        .col
          %br/
          %br/
          %br/
          %br/
          %br/
          %p{:style => "font-size: 30px"}
            %b
              = @user.nick
        .col
          %br/
          %br/
          %br/
          %br/
          .form-group
            = form_tag "/users/#{@user.id}/updateD", method: "post" do
              = text_area_tag "desc",nil, class: "form-control", placeholder: @user.desc, :rows =>"3", autofocus: true
              %br/
              %button#savebutt.btn.btn-dark{:type => "submit"} Salva Informazioni
      %hr{:width => "100%"}/
      .row
        .col
          %br/
          %b{:style => "font-size: 25px"} Seleziona ruoli preferiti
          %br/
          = form_tag "/users/#{@user.id}/updateR", method: "post" do
            .form-check.form-check-inline
              -if(@user.ruolo1=="P" || @user.ruolo2=="P")
                = check_box_tag "P",nil,true, class: "form-check-input", autofocus:true
                = label_tag "P", nil, class: "form-check-label", autofocus:true
              -else
                = check_box_tag "P",nil,false, class: "form-check-input", autofocus:true
                = label_tag "P", nil, class: "form-check-label", autofocus:true
            %br/
            .form-check.form-check-inline
              -if(@user.ruolo1=="D" || @user.ruolo2=="D")
                = check_box_tag "D", nil,true, class: "form-check-input", autofocus:true
                = label_tag "D", nil, class: "form-check-label", autofocus:true
              -else
                = check_box_tag "D", nil,false, class: "form-check-input", autofocus:true
                = label_tag "D", nil, class: "form-check-label", autofocus:true
            %br/
            .form-check.form-check-inline
              -if(@user.ruolo1=="C1" || @user.ruolo2=="C1")
                = check_box_tag "D", nil,true, class: "form-check-input", autofocus:true
                = label_tag "C1", nil, class: "form-check-label", autofocus:true
              -else
                = check_box_tag "C1", nil,false, class: "form-check-input", autofocus:true
                = label_tag "C1", nil, class: "form-check-label", autofocus:true
            %br/
            .form-check.form-check-inline
              -if(@user.ruolo1=="C2" || @user.ruolo2=="C2")
                = check_box_tag "C2", nil,true, class: "form-check-input", autofocus:true
                = label_tag "C2", nil, class: "form-check-label", autofocus:true
              -else
                = check_box_tag "C2", nil,false, class: "form-check-input", autofocus:true
                = label_tag "C2", nil, class: "form-check-label", autofocus:true
            %br/
            .form-check.form-check-inline
              -if(@user.ruolo1=="A" || @user.ruolo2=="A")
                = check_box_tag "A", nil,true, class: "form-check-input", autofocus:true
                = label_tag "A", nil, class: "form-check-label", autofocus:true
              -else
                = check_box_tag "A", nil,false, class: "form-check-input", autofocus:true
                = label_tag "A", nil, class: "form-check-label", autofocus:true
            %button#savebutt.btn.btn-dark{:type => "submit" } Modifica ruoli
        .col
          %br/
          %br/
          %br/
          %br/
          %i.far.fa-star.fa-5x
          %b{:style => "font-size: 40px"}
            Recensioni
            %input#feedback{:disabled => "disabled", :style => "width:70px", :type => "text", :value => @rate}/
          %br/
      %hr{:width => "100%"}/
      .row
        .col
          %br/
          %br/
          %br/
          %br/
          %button.btn.btn-outline-dark{:type => "button"}
            %i.fas.fa-sign-out-alt.fa-5x
        .col
          %br/
          %br/
          %br/
          %br/
          %i.far.fa-comments.fa-5x
          %b{:style => "font-size: 40px"} Notifiche
          %br/
          %ul.list-group
          - @array.each do |message|
            %li.list-group-item
              .row
                .col-6
                -if (message.tipo !=1)
                  = text_field_tag "lat",nil, class: "form-control", placeholder: "Inserisci indirizzo", autofocus: true, :style => "display: none", value: "Notifica partita:"
                -else
                  = text_field_tag "lat",nil, class: "form-control", placeholder: "Inserisci indirizzo", autofocus: true, :style => "display: none", value: "Notifica squadra:"
              .row
              -if (message.tipo != 1)
                =message.msg
                = form_tag "/notifications/:#{message.id}/deny", method: "get" do
                  %input{:type => "submit", :value => "deny"}/
              -else
                =message.msg
                = form_tag "/notifications/:#{message.id}/accept", method: "get" do
                  %input{:type => "submit", :value => "accept",class: "btn btn-primary"}/
                = form_tag "/notifications/:#{message.id}/deny", method: "get" do
                  %input{:type => "submit", :value => "deny",class: "btn btn-primary"}/

                  
                  


	