!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title home
    = stylesheet_link_tag "home.css"
    %script{:src => "https://code.jquery.com/jquery-3.2.1.min.js"}
  %body{:body => "", :style => "background-color:black"}
    %ul#menu
      = image_tag("sportify.png",height: '50', width: '120')
      %li
        %a{:href => "#"} [about]
      %li
        %a{:href => "#"} [stats]
      %li
        %a{:href => "#"} [faq]
      %li
        %a{:href => "#"} [hall of fame]
      %li
        = link_to "Accedi con facebook",user_facebook_omniauth_authorize_path
    #container
      #image.row.align-items-center
        .col
        .col
          = image_tag("sportify.png",height: '90', width: '220')
        .col
      #form.row.align-items-center
        .col
        .col
          #center.row.align-items-center
            = form_tag "/matches/near", method: :get, :class => "form-inline" do
              .col
              .col
                %input#inputtext.form-input{:placeholder => "Cerca partita...", :type => "text", :name => "address"}/
              .col
                %button.btn.btn-primary.mb-2{:type => "submit"} Cerca
        .col
