%h5.card-title
  Match
  %p.card-text
    .row
      .col-4
      .col-4
        = form_tag "users/#{@user.id}/matches/#{@m.id}/endgame", method: "post", remote: true
        %input#set{:min => "0", :step => "1", :type => "number", value: "#{@m.punt1}"}/
        %input#set{:min => "0", :step => "1", :type => "number", value: "#{@m.punt2}"}/
        %button.btn.btn-primary{:type => "submit"}
          %i.fas.fa-check-square.fa-2x
      .col-4
        %a#google.btn.btn-outline-dark{:href => "/users/#{@user.id}/matches/#{@m.id}/redirect"}
          %i.fab.fa-google.fa-2x
    .row
      .col-6
        %br/
        - if !@m.uu.gioca.where(ruolo: "P", squadra: "a").user.empty?
          %input{:name => "giocatore1", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "P", squadra: "a")[0].user.nick}"}/
          %a.btn.btn-outline-dark{ :href => "/users/#{@user.id}/matches/#{@m.id}/leavep"} 
            %i.fas.fa-minus-circle.fa-2x
          %br/
          %br/
        - else
          %input{:name => "giocatore1", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
        - if !@m.uu.gioca.where(ruolo: "D", squadra: "a").empty?
          %input{:name => "giocatore2", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "D", squadra: "a")[0].user.nick}"}/
          %br/
          %br/
        - else
          %input{:name => "giocatore2", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
        - if !@m.uu.gioca.where(ruolo: "C1", squadra: "a").empty?
          %input{:name => "giocatore3", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "C1", squadra: "a")[0].user.nick}"}/
          %br/
          %br/
        - else
          %input{:name => "giocatore3", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
        - if !@m.uu.gioca.where(ruolo: "C2", squadra: "a").empty?
          %input{:name => "giocatore4", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "C2", squadra: "a")[0].user.nick}"}/
          %br/
          %br/
        - else
          %input{:name => "giocatore4", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
        - if !@m.uu.gioca.where(ruolo: "A", squadra: "a").empty?
          %input{:name => "giocatore5", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "A", squadra: "a")[0].user.nick}"}/
          %br/
          %br/
        - else
          %input{:name => "giocatore5", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
      .col-6
        %br/
        - if !@m.uu.gioca.where(ruolo: "P", squadra: "b").empty?
          %input{:name => "giocatore1", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "P", squadra: "b")[0].user.nick}"}/
          %br/
          %br/
        - else
          %input{:name => "giocatore1", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
        - if !@m.uu.gioca.where(ruolo: "D", squadra: "b").empty?
          %input{:name => "giocatore2", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "D", squadra: "b")[0].user.nick}"}/
          %br/
          %br/
        - else
          %input{:name => "giocatore2", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
        - if !@m.uu.gioca.where(ruolo: "C1", squadra: "b").empty?
          %input{:name => "giocatore3", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "C1", squadra: "b")[0].user.nick}"}/
          %br/
          %br/
        - else
          %input{:name => "giocatore3", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
        - if !@m.uu.gioca.where(ruolo: "C2", squadra: "b").empty?
          %input{:name => "giocatore4", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "C2", squadra: "b")[0].user.nick}"}/
          %br/
          %br/
        - else
          %input{:name => "giocatore4", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
        - if !@m.uu.gioca.where(ruolo: "A", squadra: "b").empty?
          %input{:name => "giocatore5", :readonly => "readonly", :type => "text", value: "#{@m.uu.gioca.where(ruolo: "A", squadra: "b")[0].user.nick}"}/
          %br/
          %br/
        - else
          %input{:name => "giocatore5", :readonly => "readonly", :type => "text", value: ""}/
          %br/
          %br/
    .row
      .col-3
        Data
        %br/
        = @m.data
      .col-3
        Ora
        %br/
        = @m.ora
      .col-3
        Luogo
        %br/
        = @m.campo
      .col-3
        %a.btn.btn-outline-dark{ :href => "/users/#{@user.id}/matches/#{@m.id}/leavep"} 
          %i.fas.fa-sign-out-alt.fa-2x
        %a.btn.btn-outline-dark{ :href => "/users/#{@user.id}/matches"} 
          %i.fas.fa-undo.fa-2x
