- if @m.tipo == 1
	$("##{@m.id}_1").html("#{j(render("showsolovssolo"))}")
- elsif @m.tipo == 2
	$("##{@m.id}_1").html("#{j(render("showsquadravssolo"))}")
- elsif @m.tipo == 3
	$("##{@m.id}_1").html("#{j(render("showsquadravssquadra"))}")
	