!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title indexeventi
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", :integrity => "sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", :rel => "stylesheet"}/
    = stylesheet_link_tag "mostraeventi1.css"
    = stylesheet_link_tag "index_team.css"
    = stylesheet_link_tag "mostraeventi.css"
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.13/css/all.css", :integrity => "sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather+Sans", :rel => "stylesheet"}/
  %body{:style => "font-family: 'Merriweather Sans', sans-serif; margin-left: 0.9%; margin-right: 0.9%;"}
    .row
      %nav.navbar.navbar-light.barra
        .col-3
          .container
            = form_tag "/matches/near", method: :get, :class => "form-inline" do
              %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :style => "width: 48%;", :type => "search", :name => "address"}/
              %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
        .col-3
          %a{:href => "/users/#{@user.id}"}
            %b Profile
            - if @user.unread_notifications.size > 0
              %span.badge.badge-light 
                = @user.unread_notifications.size
        .col-3
          %a{:href => "/users/#{@user.id}/matches/mode/new"}
            %b Play
        .col-3
          %a{:href => "/users/#{@user.id}/matches"}
            %b Home
    .row
      .col-2.border-right{:style => "margin-left: 1.4%"}
        .container.user_column
          = image_tag("#{@user.img}",height: '130', width: '130', align: "center", id: "image", class: "user_column_obj")
        .container.user_column
          %p.user_column_obj
            %b#nick Nickname:
            = @user.nick
        .container.user_column
          %p.user_column_obj
            %b#val Valutazione:
            - if @user.voto != nil
              = (@user.voto/@user.tot).round(1)
        .container.user_column
          %a.user_column_obj{:href => "#"}
            %b
              = link_to "Teams", user_teams_path(@user)
        .container.user_column
          %a.user_column_obj{:href => "#"}
            %b 
              = link_to "Logout", logout_path, method: :delete
      .col-7
        - @matches.each do |m|
          .row
            .container
              .card.index-teams{:style => "width: 50rem;"}
                .card-body.prova{:id => "#{m.id}_1"}
                  %h5.card-title Informazioni Evento
                  %p.card-text
                    .row
                      .col-4
                        = m.creatore.nick
                      .col-4
                        %input#set1{:min => "0", :step => "1", :type => "number", disabled: true, value: "#{m.punt1}"}/
                        %input#set1{:min => "0", :step => "1", :type => "number", disabled: true, value: "#{m.punt2}"}/ 
                      .col-4
                        %a.btn.btn-outline-dark{ :href => "/users/#{@user.id}/matches/#{m.id}", "data-remote" => "true"}
                          %i.fas.fa-info-circle.fa-2x