!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title utentetrovato
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", :integrity => "sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", :rel => "stylesheet"}/
    = stylesheet_link_tag "index_team.css"
    = stylesheet_link_tag "play.css"
    = stylesheet_link_tag "mostraeventi.css"
    %link{:crossorigin => "anonymous", :href =>"https://use.fontawesome.com/releases/v5.0.13/css/all.css", :integrity =>"sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", :rel => "stylesheet"}/ 
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.13/css/all.css", :integrity => "sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather+Sans", :rel => "stylesheet"}/
  %body{:style => "font-family: 'Merriweather Sans', sans-serif; margin-left: 0.9%; margin-right: 0.9%;"}
    .row
      %nav.navbar.navbar-light.barra
        .col-3
          .container
            = form_tag "/matches/near", method: :get, :class => "form-inline" do
              %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :style => "width: 48%;", :type => "search", :name => "address"}/
              %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
        .col-3
          %a{:href => "#"}
            %b Profile
        .col-3
          %a{:href => "/users/#{@user.id}/matches/mode/new"}
            %b Play
        .col-3
          %a{:href => "/users/#{@user.id}/matches"}
            %b Home
    %p{:align => "center", :style => "font-size:40px;"}
      %b Crea partita
    #formteam
      = form_tag "/users/#{@user.id}/matches", method: "post" do
        .row
          .col
            .form-group
              = text_field_tag "tipo",nil, :style => "display: none", value: "uu"
              = text_field_tag "campo",nil, :style => "display: none", value: "#{@match.campo}"
              = number_field_tag "lat",nil, :style => "display: none", value: "#{@match.lat}"
              = number_field_tag "lng",nil, :style => "display: none", value: "#{@match.lng}"
              = text_field_tag "g1",nil, class: "form-control", placeholder: "Nickname portiere", autofocus: true
              %br/
              .form-group
              = text_field_tag "g2",nil, class: "form-control", placeholder: "Nickname difensore", autofocus: true
              %br/
              .form-group
              = text_field_tag "g3",nil, class: "form-control", placeholder: "Nickname centrocampista 1", autofocus: true
              %br/
              .form-group
              = text_field_tag "g4",nil, class: "form-control", placeholder: "Nickname centrocampista 2", autofocus: true
              %br/
              .form-group
              = text_field_tag "g5",nil, class: "form-control", placeholder: "Nickname attaccante", autofocus: true
              %br/
              %br/
              %br/
              .form-group
              %b Data:
              = date_field_tag "data", nil, class: "form-control"
              %br/
              %br/
          .col
            .form-group
              = text_field_tag "g6",nil, class: "form-control", placeholder: "Nickname portiere", autofocus: true
              %br/
              .form-group
              = text_field_tag "g7",nil, class: "form-control", placeholder: "Nickname difensore", autofocus: true
              %br/
              .form-group
              = text_field_tag "g8",nil, class: "form-control", placeholder: "Nickname centrocampista 1", autofocus: true
              %br/
              .form-group
              = text_field_tag "g9",nil, class: "form-control", placeholder: "Nickname centrocampista 2", autofocus: true
              %br/
              .form-group
              = text_field_tag "g10",nil, class: "form-control", placeholder: "Nickname attaccante", autofocus: true
              %br/
              %br/
              %br/
            .form-group
              %b Ora:
              = time_field_tag "ora", nil, class: "form-control"
          #send
            = submit_tag "Crea Partita", class: "btn btn-primary"